<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gForum</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="homepage.js" defer></script>
      <link rel="stylesheet" href="/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Mada|Six+Caps|Grand+Hotel" rel="stylesheet">
      <link rel="stylesheet" href="css/animations.css" type="text/css">
      <link rel="shortcut icon" href="/titlepic.jpeg">
      <link rel="apple-touch-icon" href="/titlepic.jpeg">
  </head>
  <body class = "subjectBody">
  <ul class = "navbar" style="list-style: none;">
    <li><a class="active" href="/overview"><b>HOME</b></a></li>
    <li><a class="active" href="/logout"><b>LOG OUT</b></a></li>
    <li><a class="active" href="https://www.galvanize.com/phoenix">GALVANIZE</a></li>
    <li><a class="active" href="https://learn.galvanize.com/">LEARN</a></li>
    <li><a class="active" href="https://members.galvanize.com/">MEMBER</a></li>
    <li><a class="active" href="https://talent.galvanize.com/">TALENT</a></li>
    <li><a class="active" href="https://gstudents.slack.com/">SLACK</a></li>
    <li><a class="active" href="https://github.com/">GITHUB</a></li>
    <li><a class="active" href="https://trello.com/">TRELLO</a></li>
  </ul>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class = "sectionDiv">
  <p id = "logoTitleMain">Subject: <%= type %></p>
  </div>
  <div class = "sectionDiv">
  <p id = "logoTitle">Posts</p>
  </div>
</div>
  <a class = "postLinks" href = "/helps/:type/:id"><div class = "interestingsDiv">
    <% for(let i = 0; i < posts.length; i++) { %>
      <div id = "postTable2">
      <p id = "contentTimestamp">Created aon<%= posts[i].created_at %></p>
      <p id = "contentTitle"><%= posts[i].title %><p>
      <p id = "contentAuthor"> by <%= posts[i].first_name %> <%= posts[i].last_name %><p>
      <p id = "content"><%= posts[i].content %><p>
      <p id = "content"><%= posts[i].upvotes %><p>
      <p id = "content"><%= posts[i].downvotes %><p>

      </div>
    <% } %>
  </div></a>
  <p id = "logoTitle">Submit a New Post:</p>
  <form action="/helps" method="post" id = "newInteresting">
      <input type="text" name="title" placeholder="Title">
      <button type="submit" class="">Submit!</button>
    </form>
    <textarea name="content" form="newInteresting">Enter text here...</textarea>
</body>
</html>
